body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  
  section {
    padding: 0rem 2rem 2rem 2rem;
    text-align: center;
    background: #DFEBF6;
  }
  
  footer {
    background: #333;
    color: #fff;
    padding: 1rem;
  }

  html {
    scroll-behavior: smooth;
  }
  